<div class="head">
  <div class="text-center">
    <img src="/src/assets/dog.png" class="rounded" alt="..." />
  </div>
</div>
<div class="body">
  <div class="container">
    <div class="row d-flex justify-content-between">
      <div class="col-md">
        <select id="level" class="form-select text-light my-3">
          <option value="">level</option>
        </select>
      </div>
      <div class="col-md">
        <select id="Class" class="form-select text-light my-3">
          <option value="">Class</option>
        </select>
      </div>
      <div class="col-md">
        <select id="speciality" class="form-select text-light my-3">
          <option value="">level</option>
        </select>
      </div>
      <div class="col-md">
        <select id="Courses" class="form-select text-light my-3">
          <option value="">level</option>
        </select>
      </div>
    </div>
  </div>
</div>
