<div class="head text-center">
  <img src="assets/img/dog.jpg" class="rounded img-fluid mt-2 dog" alt="..." />
  <h3 class="title pb-3 pt-2">LearnUp</h3>
  <div>
    <a routerLink="/profile">
      <i
        class="fa-solid icon text-dark fa-2x-md fa-4x position-absolute fa-user-large"
      ></i>
    </a>
  </div>
</div>

<div class="body">
  <div class="container">
    <form [formGroup]="f" (ngSubmit)="onSubmit()">
      <div class="row pt-5 form-group justify-content-between">
        <div class="col-md">
          <div class="dropdown">
            <select
              id="level"
              formControlName="level"
              class="form-control"
              aria-label="Default select example"
              data-bs-toggle="dropdown"
              data-bs-touch="false"
              required
              (change)="getSpe()"
            >
              <option value="">Select a level</option>
              <option *ngFor="let d of levels" [value]="d.idlevel">
                {{ d.namelevel }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md d-none d-md-block">
          <div class="dropdown">
            <select
              id="speciality"
              formControlName="speciality"
              class="form-control"
              aria-label="Default select example"
              data-bs-toggle="dropdown"
              data-bs-touch="false"
              required
              (change)="getclass()"
            >
              <option value="">Select a speciality</option>
              <option *ngFor="let d of spec" [value]="d.idspe">
                {{ d.namespe }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md d-none d-md-block">
          <div class="dropdown">
            <select
              id="class"
              formControlName="class"
              class="form-control"
              aria-label="Default select example"
              data-bs-toggle="dropdown"
              data-bs-touch="false"
              required
              (change)="getCour()"
            >
              <option value="">Select a class</option>
              <option *ngFor="let d of cl" [value]="d.idclass">
                {{ d.nameclass }}
              </option>
            </select>
          </div>
        </div>
        <div class="col-md col-sm-12 d-none d-md-block">
          <div class="dropdown">
            <select
              id="cours"
              formControlName="course"
              class="form-control"
              aria-label="Default select example"
              data-bs-toggle="dropdown"
              data-bs-touch="false"
              (change)="getCouId()"
              required
            >
              <option value="">Select a level</option>
              <option
                class="text-dark"
                *ngFor="let d of cour"
                [value]="d.idSubject"
              >
                {{ d.nameSub }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="row dbtn position-absolute start-50 translate-middle-x">
        <div class="col text-center">
          <button type="submit" id="btn" class="btn btn-lg">Search</button>
        </div>
      </div>
    </form>
  </div>
</div>
