.bcolor {
  background-color: #4C495D;
  min-height: 80vh;
}
.fa-square-plus {
  color:#2D283E;
}

.nav {
  background-color: #2D283E;
}
.nav-link {
  color: #fff; /* Set text color to white */
  text-decoration: none; /* Remove underline */
}

@media (max-width: 768px) {
  .nav {
    width: 100%; 
  }
}

@media (max-width: 991.98px) {
  .navbar-nav {
    flex-direction: column;
  }

  .nav-item {
    margin: 10px 0;
  }

  .nav-link {
    padding: 0;
  }
}
.chat-container {
  margin-top: 30px;
  border-radius: 5px;
  min-height: 400px;
  padding: 10px;
  background-color: #eeeeee2b;
}

.message {
  background-color: #d1d7e0;
  border-radius: 0.255rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.message-container {
  margin-bottom: 10px;
}

.chat-input {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  outline: none;
}

input[type="text"] {
  flex: 1;
  padding: 5px;
  border-radius: 5px;
  margin-right: 10px;
}

button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: rgb(55, 118, 139);
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: blue;
}
.sender{
  font-family: 'Roboto', sans-serif;
}