<div class="row ms-2 message-container d-flex flex-row">
  <div class="message col-7 d-flex align-items-center">
    <div class="me-3">
      <i class="fa-solid fa-3x mt-2 fa-circle-user"></i>
    </div>
    <div class="message-content">
      <div class="h3">
        {{ message.date | date : "mediumDate" }}
      </div>

      <div class="h5 sender">{{ message.sender }}</div>
      <div>{{ message.content }}</div>
      <div *ngFor="let d of message?.comments">
        <p>{{ d.content }}</p>
      </div>
    </div>
  </div>
  <div class="text-center offset-1 col-md">
    <button class="btn">
      <i class="fa-solid fa-2x fa-thumbs-up" aria-hidden="true"></i>
    </button>
    <b>{{ message.nblike }}</b>
  </div>
  <div class="text-center col-md">
    <button class="btn" type="button">
      <i class="fa-solid fa-2x fa-thumbs-down" aria-hidden="true"></i>
    </button>
    <b>
      {{ message.nbdislike }}
    </b>
  </div>
  <div class="text-center col-md">
    <button type="button" (click)="toggleCommentInput()">
      <i aria-hidden="true" class="fa-regular fa-2x fa-comment"></i>
      <span class="placeholder" *ngIf="showCommentInput">Reply</span>
    </button>
  </div>
  <div class="text-center col-md">
    <button type="button">
      <i id="rep" class="fa-solid fa-flag fa-2x"></i>
    </button>
  </div>
  <div *ngIf="showCommentInput" class="col-5">
    <input
      type="text"
      [(ngModel)]="newComment"
      placeholder="Type your comment here..."
      class="border border-black"
    />
    <button (click)="addComment()">Send</button>
  </div>
</div>
