<div class="bcolor container">
  <div class="row">
    <div class="col-10">
      <ul class="nav row ms-5 rounded-pill">
        <li class="col nav-item" routerLinkActive="active">
          <a
            class="nav-link text-center fs-3"
            aria-current="page"
            routerLink="/home/Cour"
            >Courses</a
          >
        </li>
        <li
          class="col nav-item border-start border-end border-black border-3"
          routerLinkActive="active"
        >
          <a class="nav-link text-center fs-3" routerLink="/home/Examn"
            >Exercises</a
          >
        </li>
        <li class="col nav-item" routerLinkActive="active">
          <a class="nav-link text-center fs-3" routerLink="/home/Chat"
            >Community Chat</a
          >
        </li>
      </ul>
    </div>
    <div class="form-group float-end col-2">
      <button
        type="button"
        class="btn btn-primary"
        data-bs-toggle="modal"
        data-bs-target="#plusModal"
      >
        <i class="far fa-square-plus"></i>
      </button>
      <div
        class="modal fade"
        id="plusModal"
        tabindex="-1"
        aria-labelledby="plusModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="plusModalLabel"></h5>
              <button
                type="button"
                class="btn-close"
                data-bs-dismiss="modal"
                aria-label="Close"
              ></button>
            </div>
            <form [formGroup]="form">
              <div class="modal-body">
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="Cour"
                    value="cour"
                    formControlName="mat"
                    [checked]="form.get('mat')?.value === 'cour'"
                    required
                  />
                  <label class="form-check-label" for="Cour">Cour</label>
                </div>
                <div class="form-check form-check-inline">
                  <input
                    type="radio"
                    class="form-check-input"
                    id="Examn"
                    value="examn"
                    formControlName="mat"
                    [checked]="form.get('mat')?.value === 'examn'"
                    required
                  />
                  <label class="form-check-label" for="Examn">Examn</label>
                </div>
                <div class="mt-3">
                  <div class="form-check" *ngFor="let d of cour; let i = index">
                    <input
                      type="radio"
                      name="subject"
                      class="form-check-input"
                      [value]="d.idSubject"
                      [formControlName]="'subject'"
                    />
                    <label class="form-check-label">{{ d.nameSub }}</label>
                  </div>
                </div>
                <div class="mt-3">
                  <input
                    type="file"
                    class="form-control"
                    id="fileInput"
                    (change)="getfile($event)"
                    accept=".pdf"
                    formControlName="file"
                    [disabled]="
                      !form.get('mat')?.value ||
                      form.get('subject')?.value === null
                    "
                  />
                  <div
                    class="invalid-feedback"
                    *ngIf="
                      form.get('file')?.invalid && form.get('file')?.touched
                    "
                  >
                    Please select a PDF file.
                  </div>
                </div>
              </div>
              <div class="d-block">
                <button
                  type="button"
                  class="btn btn-block btn-success"
                  data-bs-dismiss="modal"
                  [disabled]="!isFormValid()"
                  (click)="onAddCourse()"
                >
                  Add
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngFor="let c of cs">
    <app-cour [cours]="c"></app-cour>
  </div>
</div>
