<div><app-header></app-header></div>
<div class="bcolor">
  <div class="d-flex justify-content-around">
    <ul class="nav row ms-5 rounded-pill justify-content-center">
      <li class="col nav-item" routerLinkActive="active">
        <a
          class="nav-link text-center fs-3 text-light"
          aria-current="page"
          routerLink="Cour"
          >Courses</a
        >
      </li>
      <li
        class="col nav-item border-start border-end border-black border-3"
        routerLinkActive="active"
      >
        <a class="nav-link text-center fs-3 text-light" routerLink="Examn"
          >Exercises</a
        >
      </li>
      <li class="col nav-item" routerLinkActive="active">
        <a class="nav-link text-center fs-3 text-light" routerLink="Chat"
          >Community Chat</a
        >
      </li>
    </ul>
    <div class="position-sticky">
      <i class="fa-regular fa-4x fa-square-plus"></i>
    </div>
  </div>

  <div class="container"><router-outlet></router-outlet></div>
</div>
